header {
    justify-content: space-between;
    display: flex;
    height: 100px;
    background-color: #440047;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

ul{
    list-style: none;
    float: left;
    display: flex;
}
ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    color: #FBECEC;
    text-decoration: none;
    
}
ul li a:hover{
    background-color:#E11D74;
}

.logo{
    text-transform: uppercase;
    float: right;
    display: flex;
    align-items: center;
    color: #FBECEC;
    
}
.logo img{
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
/* --------------- */
.imagen {
    float: right;
    width: 50%;
}
  
.imagen img {
    width: 100%;
}
  
.datos {
    float: left;
    width: 50%;
    padding: 20px 20px 20px 40px;
}
.datos h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 46px;
}