@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #91d18b;
}
/* ----------------nav---------------- */
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #440047;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin: auto;
}

#navbar ul {
  list-style: none;
  float: left;
  display: flex;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  color: #fbecec;
  text-decoration: none;
  font-size: large;
}
#navbar ul li a:hover {
  background-color: #e11d74;
}

#navbar .logo {
  text-transform: uppercase;
  float: right;
  display: flex;
  align-items: center;
<<<<<<< HEAD
  color: #FBECEC;
  padding: 0px 0px 0px 300px;
  
=======
  color: #fbecec;
>>>>>>> 4abd91df05d9c1aee3ae672aea6d39d7c85f0b86
}
#navbar .logo img {
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ---------------home---------------------- */

main {
  background-color: #91d18b;
}

#home {
  display: flex;
  padding: 10px 10px 10px 10px;
}
.imagen {
  float: right;
}

.imagen img {
  width: 100%;
  /*max-width: 50%; */
  /*  max-height: 50%; */
}

.dato1 {
  float: left;
  width: 151%;
  padding: 20px 20px 20px 20px;
}

/* ------------el evento--------------- */
#evento {
  padding: 100px 0;
  display: flex;
}
video {
  width: 100%;
}
.dato2 {
  float: right;
  width: 70%;
  padding: 20px 20px 20px 20px;
}
.container {
  display: flex;
  margin: auto;
  /* max-width: 1300px; */
  overflow: auto;
  padding: 0 10px;
}

/* SECCIÓN MARGA*/
/* nosotros */
#nosotros {
  display: flex;
  padding: 100px 0;
}

.nosotros-imagen img {
  background-position: center;
  width: 90%;
  padding: 20px 20px 20px 20px;
}

.nosotros-description {
  height: 100%;
  width: 55%;
  padding: 20px 20px 20px 20px;
}

.nosotros-description .large {
  padding-bottom: 10px;
  font-size: 1.25rem;
}

/* Contact */
h1 {
  text-align: center;
}
.contact-form {
  float: right;
  width: 45%;
  padding: 20px 20px 20px 20px;
}
h2 {
  text-align: center;
}
.contact-title {
  float: left;
  width: 55%;
  padding: 20px 20px 20px 20px;
}
form .form-group {
  margin-bottom: 1rem;
}

form .form-control {
  /* display: block; */
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none;
}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: #440047;
  border: 1px solid #440047;
  color: #fbecec;
  width: 100%;
}

.btn-light:hover {
  background: #e11d74;
  border: 1px solid #440047;
  color: #fbecec;
}
/*clima*/
.vista-clima.h1 {
  text-align: center;
}

#clima {
  text-align: center;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
}

#temperatura,
#Ubicación {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 10%;
  width: 200px;
  height: 200px;
  border-style: ridge;
}

#temperatura {
  background-color: rgba(0, 0, 0, 0.767);
  color: azure;
}
#Ubicación {
  background-color: darkslateblue;
  color: azure;
}

/** CONTACTOS **/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #91d18b;
  color: #91d18b;
  padding: 20px;
}
.footer-section-container {
  display: flex;
  justify-content: center;
}
.footer-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/*watsapp*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}
